*{ margin: 0; }
a{ text-decoration: none; }
img{ max-width: 100%;}
section{
    font-family: 'Noto Sans KR', sans-serif;
}
.section__center{display: flex;}
.section__center h2{ justify-content: center;}